<div class="_container _flex _fd-col _row-gap-96"  *ngIf="hotel">
  <div class="_grid _grid-col-2 _column-gap-48">
    <div class="images">
      <div class="_image">
        <img src="data:image/jpeg;base64,{{hotel.getImage()}}" alt="">
      </div>
    </div>
    <div class="content _flex _fd-col _row-gap-16">
      <h2 class="_title-xl" style="color:#5d5959;">{{hotel.getName()}}</h2>
      <h3 class="_big-title" style="color: #6B50FD">{{hotel.getCityName()}}</h3>
      <p>{{hotel.getDescription()}}</p>
<!--      todo: realize the rating-->
<!--      <div class="rating">{{"Rating: " + hotel.getRating()}}</div>-->
    </div>
  </div>
  <div>
    <app-search
      (roomItemsChanged)="onRoomsItemsChanged($event)"
      (startDateChanged)="onStartDateChanged($event)"
      (endDateChanged)="onEndDateChanged($event)"
    />
    <ul *ngIf="hotel.getRoomList().length > 0" style="margin-top: 32px" class="_flex _fd-col _row-gap-16">
      <li *ngFor="let item of hotel.getRoomList()">
       <div class="_flex _column-gap-48 _ai-c">
         <h2>{{item.getRoomId()}} room</h2>
         <div>{{item.getBedNumbers()}} bed numbers</div>
         <div>{{item.getPrice()}} dollars</div>
         <app-button (click)="book(item.getId())">Book</app-button>
         <div *ngIf="item.getImages().length > 0" style="max-width: 300px">
           <app-slider [slides]="item.getImages()" [height]="200" />
         </div>
       </div>
      </li>
    </ul>
  </div>
</div>
