
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  color: #7C8DB0;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li, ol li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
// ================================================== main styles

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 18px;
  font-family: "Nunito Sans";
  overflow-x: hidden;
}
main {
  flex: 1 1 100%;
}

._container {
  max-width: 1840px;
  padding: 0 40px;
  margin: 0 auto;

}
._container-600 {
  max-width: 600px;
  padding: 0 40px;
  margin: 0 auto;
}
._title {
  font-size: 18px;
  font-weight: 700;
}
._big-title {
  font-size: 24px;
  font-weight: 700;
}
._title-xl {
  font-size: 48px;
  font-weight: 700;
}
._ta-c {
  text-align: center;
}

// ================================================== layout styles

._grid {
  display: grid;
}
._grid-col-2 {
  grid-template-columns: repeat(2, 50%);
}
._flex {
  display: flex;
}
._flex-wrap-w {
  flex-wrap: wrap;
}
._flex-50 {
  flex: 1 1 50%;
}
._fd-col {
  flex-direction: column;
}
._jc-sb {
  justify-content: space-between;
}
._jc-c {
  justify-content: center;
}
._ai-c {
  align-items: center;
}
._column-gap-16 {
  column-gap: 16px;
}
._column-gap-32 {
  column-gap: 32px;
}
._column-gap-48 {
  column-gap: 48px;
}
._column-gap-64 {
  column-gap: 64px;
}
._row-gap-8 {
  row-gap: 8px;
}
._row-gap-16 {
  row-gap: 16px;
}
._row-gap-32 {
  row-gap: 32px;
}
._row-gap-64 {
  row-gap: 64px;
}
._row-gap-96 {
  row-gap: 96px;
}
header {
  padding: 20px 0;
}
// ================================================== images styles
._image{
  img {
    width: 100%;
  }
}
// ================================================== account styles
.account {
  margin-top: 72px;
  &__menu {
    margin-top: 64px;
    margin-bottom: 48px;
  }
  &__input {
    margin-top: 8px;
    border: 1px solid #7C8DB0;
  }
}
